$d-black : #000000;
$d-gray20 : #05090c;
$d-gray19 : #0c1419;
$d-gray18 : #121f26;
$d-gray17 : #1b2a33;
$d-gray16 : #23343f;
$d-gray15 : #2c404c;
$d-gray14 : #364c59;
$d-gray13 : #425866;
$d-gray12 : #4c6472;
$d-gray11 : #59717f;
$d-gray10 : #677E8c;
$d-gray9 : #748b99;
$d-gray8 : #889aa5;
$d-gray7 : #96a8b2;
$d-gray6 : #a3b5bf;
$d-gray5 : #b6c3cc;
$d-gray4 : #c5d1d8;
$d-gray3 : #d8e0e5;
$d-gray2 : #e2e8ed;
$d-gray1 : #ebeff2;
$d-white : #ffffff;

$d-primary-blue : #0073a5;
$d-primary-blue-hover : #004f72;
$d-primary-blue-pressed	 : #004266;

$d-select-blue-default : #096270;
$d-select-blue-hover	 : #085860;
$d-select-blue-pressed : #06454c;

$d-alert-red : #bf302c;
$d-alert-orange : #cc7032;
$d-alert-yellow : #cc9b00;
$d-alert-blue : #116299;
$d-alert-green : #cc7032;

$d-dv-basic-1	 : #d35e0d;
$d-dv-basic-2 : #a9ae13;
$d-dv-basic-3 : #00861c;
$d-dv-basic-4	 : #206e63;
$d-dv-basic-5 : #00608c;
$d-dv-basic-6 : #6d64d9;
$d-dv-basic-7 : #019dd2;
$d-dv-basic-8 : #9c1cc8;
$d-dv-basic-9 : #da0288;
$d-dv-basic-10 : #d85264;

$d-dv-bright-1 : #f7882c;
$d-dv-bright-2 : #d1d63e;
$d-dv-bright-3 : #2cac48;
$d-dv-bright-4 : #4d978b;
$d-dv-bright-5 : #2a89b4;
$d-dv-bright-6 : #958efe;
$d-dv-bright-7 : #2ec4f8;
$d-dv-bright-8 : #c248ee;
$d-dv-bright-9 : #ff2db0;
$d-dv-bright-10 : #ff7b8d;

$d-dv-muted-1 : #853c05;
$d-dv-muted-2	 : #6b700a;
$d-dv-muted-3 : #025512;
$d-dv-muted-4	 : #13473f;
$d-dv-muted-5 : #003d59;
$d-dv-muted-6 : #453f8a;
$d-dv-muted-7	 : #006586;
$d-dv-muted-8 : #641380;
$d-dv-muted-9 : #8a0056;
$d-dv-muted-10 : #89343f;

//
// component theme variables
//

$predix-font-family : "GE Inspira Sans", sans-serif !default;

@import "px-typography-design/_base.typography.scss";

:root{

  --px-app-nav-background-color:            $d-gray19;
  --px-app-nav-link-text-color:             $d-gray12;
  --px-app-nav-link-selected-color:         $d-gray18;
  --px-app-nav-link-selected-active-color:  $d-gray18;
  --px-app-nav-link-hover-color:            $d-select-blue-hover;
  --px-app-nav-link-active-color:           $d-gray8;

  --px-app-nav-hamburger-button-color:      $d-gray12;


  --px-font-family: $predix-font-family;
  font-family: $predix-font-family;

}

html {
  font-family: $predix-font-family;
  font-size: $inuit-base-font-size;
}
